<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="bg-secondary">
  
        <marquee behavior="scroll" direction="right">
            <h4 class="text-warning">“The goal is to turn data into information, and information into insight.” – Carly Fiorina.</h4></marquee>



    <div class="container bg-dark text-primary">
        <div class="col-md-10 offset-md-1 mt-5">
             <div >
                <h1 class="display-5"><h class="display-1">M</h>Y Documentary</h1>
                <p class="lead"> <i>Save your data for future. Who knows the value of current data in the future!<br>
                    
                </i></p>     
                    
                    {% block content %}
                    
                    {% endblock content%}

                <hr class="my-4">
            </div>
        </div>
    </div>
    <footer id="footer-main" class="py-5 text-center text-light bg-dark">
        <div class="container">
            <div class="border-top my-3"></div>
            <div class="row">
                <div class="col-12">
                    <p class="lead">Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
                        2020 My_Documentary</p>
                    <span class="lead">Designed By : <a href="https://www.facebook.com/hridoy.roy.121/" target="_blank">Hridoy Roy</a></span>
                </div>
            </div>
        </div>

    </footer>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
